

<div class="internal-pages trans-header sticky booking-page">

    <!-- Internal Page Header -->
    <div class="internal-page-title about-page">
        <ol class="breadcrumb">
            <!-- Internal Page Breadcrumb -->
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>

    <div id="booking-page-content">
        <div class="booking-container container">

            <div class="heading-box">
                <h2>About <span>Us</span></h2>
            </div>
            <div class="main-booking-description">
                Marriott International, Inc. is a leading global lodging company with more than
                6,000 properties in 122 countries and territories, reporting revenues of more
                than $17 billion in fiscal year 2016. Founded by J. Willard and Alice Marriott
                and guided by family leadership for nearly 90 years, the company is headquartered
                outside of Washington, D.C. in Bethesda, Maryland.
            </div>

        </div>
    </div>

    <div id="booking-page-content">
        <div class="booking-container container">

            <div class="heading-box">
                <h2>Our <span>Brands</span></h2>
            </div>
            <div class="main-booking-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur alias minus,
                commodi eligendi reprehenderit ea illum placeat recusandae architecto magnam aspernatur
                doloremque, odio maxime ducimus voluptates eveniet cumque assumenda delectus? Quisquam
                nobis, eligendi. Earum dolore culpa tenetur qui at, voluptas repellendus quisquam minima
                incidunt. Asperiores.
            </div>

        </div>
    </div>
</div>


