.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, 
.btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #ffffff;
    background-color: #b78d49;
    border-color: #af8846;
}
